<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/47a8f343-e5f6-4748-9bcf-5b7b4b4411c2/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/rfqcontainerregistry</ResourceId>
    <ResourceName>rfqcontainerregistry</ResourceName>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://rfqcontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a58a5f81-60fa-422a-9578-f18f696699e3</ProjectGuid>
  </PropertyGroup>
</Project>