.card11{
    margin-top: 200px;
    margin-left: 200px;
    width: 500px;
  }
  .card12{
    margin-top: -140px;
    margin-left: 800px;
    width: 500px;
  }
  .card12{
    margin-top: 140px;
    margin-left: 800px;
    width: 500px;
  }
  