.Table21{
 
 
 margin-left: 270px;
  margin-top: -40px;
  width: 1000px;
}
.eTable1{
    margin-left: 300px;
    margin-top: -40px;
    width: 1000px;
}
.card122{
  margin-top: -20px;
}
.butt55{
  margin-top: 50px;
  margin-left: 200px;
}
.butt120{
  margin-top: 200px;
  margin-left: 270px;
}
.butt1{
  margin-top: 100px;
  margin-left: 200px;
}
