.Carousel11 {

    width: 1300px;
    height: 600px;
    margin-left: 100px;
    margin-top: 50px;
}
.text1{
    position: absolute;
    left: 450px;
    top: 200px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/* .imgg{
    opacity: 10;
} */
.bb{
    position: absolute;
    left: 750px;
    top: 300px;
    background-image: linear-gradient(135deg, #0acffe 10%, #495aff 100%);
    color: black;
    text-align: center;
   
}